<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
              <span> &copy; <a title="More info"
                                        href="https://www.youtube.com/watch?v=wQ2TN_gI3sE
                                        target="_blank">Nam Hùng - Đồ Án 2 -  2022</a></span>
        </div>
    </div>
</footer>
